<footer>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">Copyright &copy; 2016</span>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                      <li>
                        <span class="fa fa-code"></span> with <span class="fa fa-heart"></span>  by  <img class="pull-right brand-logo" src="/img/shreyanya-logo.png"></img>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
