<footer>
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-4">
                  <span class="copyright">Copyright &copy; 2016</span>
              </div>
              <div class=" col-xs-12 col-md-8">
                  <ul class="list-inline quicklinks">
                      <li>
                        <span class="fa fa-code faa-tada"></span> with <i class="fa fa-heart faa-pulse animated"></i>  by  <img class="brand-logo" src="/img/shreyanya-logo.png" style="float:none;"></img> at Carmel <i class="flag-icon flag-icon-us"></i> and Stuttgart <i class="flag-icon flag-icon-de"></i>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
