<section id="photos">
  <h2 class="text-center section-heading">Photos</h2>
  <div class="container">
    <div id="main_area">
      <!-- Slider -->
      <div class="row">
        <div class="col-sm-4 hidden-xs" id="slider-thumbs">
          <!-- Bottom switcher of slider -->
          <ul class="hide-bullets">
            <li class="col-sm-4">
              <a class="thumbnail" id="carousel-selector-0">
                <img src="/img/sa-1.jpg">
              </a>
            </li>

            <li class="col-sm-4">
              <a class="thumbnail" id="carousel-selector-1"><img src="/img/sa-2.jpg"></a>
            </li>

            <li class="col-sm-4">
              <a class="thumbnail" id="carousel-selector-2"><img src="/img/sa-3.jpg"></a>
            </li>

            <li class="col-sm-4">
              <a class="thumbnail" id="carousel-selector-3"><img src="/img/sa-4.jpg"></a>
            </li>
            <li class="col-sm-4">
              <a class="thumbnail" id="carousel-selector-4"><img src="/img/anya-1.jpg"></a>
            </li>
            <li class="col-sm-4">
              <a class="thumbnail" id="carousel-selector-5"><img src="/img/shreyanya-2.jpg"></a>
            </li>
            <li class="col-sm-4">
              <a class="thumbnail" id="carousel-selector-6"><img src="/img/shreyanya-3.jpg"></a>
            </li>
          </ul>
        </div>
        <div class="col-sm-8">
          <div class="col-xs-12" id="slider">
            <!-- Top part of the slider -->
            <div class="row">
              <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                      <img src="/img/sa-1.jpg"></div>
                    <div class="item" data-slide-number="1">
                      <img src="/img/sa-2.jpg"></div>
                    <div class="item" data-slide-number="2">
                      <img src="/img/sa-3.jpg"></div>
                    <div class="item" data-slide-number="3">
                      <img src="/img/sa-4.jpg"></div>
                    <div class="item" data-slide-number="4">
                      <img src="/img/anya-1.jpg"></div>
                    <!-- <div class="item" data-slide-number="5">
                      <img src="/img/shreyanya-1.jpg"></div> -->
                    <div class="item" data-slide-number="5">
                      <img src="/img/shreyanya-2.jpg"></div>
                    <div class="item" data-slide-number="6">
                      <img src="/img/shreyanya-3.jpg"></div>
                  </div>
                  <!-- Carousel nav -->
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="fa fa-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/Slider-->
      </div>
      <div class="photos-section text-center">
        <a href="#contact" class="page-scroll btn btn-xl">Send Message to the couple</a>
      </div>
    </div>
  </div>
</section>
