<section id="photos">
  <h2 class="text-center section-heading">Photos</h2>
  <div class="container">
    <div id="main_area">
      <!-- Slider -->
      <div class="row">
        <h3 class="text-center"> Mehandi</h3>
        <p class="text-center">The wedding ceremony started on the morning of 11th December. At this event, guests were applied
        Henna on hands.</p>
        <div class="col-md-12" id="mehandi">
          <a href="img/wedding/sa1.JPG">
            <img class="thumb" src="img/wedding/sa1.JPG" />
          </a>
          <a href="img/wedding/sa2.JPG">
            <img class="thumb" src="img/wedding/sa2.JPG" />
          </a>
          <a href="img/wedding/sa4.JPG">
            <img class="thumb" src="img/wedding/sa4.JPG" />
          </a>
          <a href="img/wedding/sa5.JPG">
            <img class="thumb" src="img/wedding/sa5.JPG" />
          </a>
          <a href="img/wedding/sa6.JPG">
            <img class="thumb" src="img/wedding/sa6.JPG" />
          </a>
          <a href="img/wedding/sa10.JPG">
            <img class="thumb" src="img/wedding/sa10.JPG" />
          </a>
          <a href="img/wedding/sa11.JPG">
            <img class="thumb" src="img/wedding/sa11.JPG" />
          </a>
          <a href="img/wedding/sa12.JPG">
            <img class="thumb" src="img/wedding/sa12.JPG" />
          </a>
          <a href="img/wedding/sa13.JPG">
            <img class="thumb" src="img/wedding/sa13.JPG" />
          </a>
          <a href="img/wedding/sa14.JPG">
            <img class="thumb" src="img/wedding/sa14.JPG" />
          </a>
          <a href="img/wedding/sa7.JPG">
            <img class="thumb-long" src="img/wedding/sa7.JPG" />
          </a>
          <a href="img/wedding/sa8.JPG">
            <img class="thumb-long" src="img/wedding/sa8.JPG" />
          </a>
          <a href="img/wedding/sa3.JPG">
            <img class="thumb-long" src="img/wedding/sa3.JPG" />
          </a>
          <a href="img/wedding/sa9.JPG">
            <img class="thumb-long" src="img/wedding/sa9.JPG" />
          </a>
          <a href="img/wedding/sa15.JPG">
            <img class="thumb-long" src="img/wedding/sa15.JPG" />
          </a>
        </div>
      </div>

      <div class="row spacer-above">
        <h3 class="text-center"> Sangeet </h3>
        <p class="text-center"> The evening of 11th December was full of music and laughter. At this event, friends and family performed choreographed dances. We also danced at the end.</p>
        <div class="col-md-12" id="sangeet">
          <a href="img/wedding/sa16.JPG">
            <img class="thumb" src="img/wedding/sa16.JPG" />
          </a>
          <a href="img/wedding/sa17.JPG">
            <img class="thumb" src="img/wedding/sa17.JPG" />
          </a>
          <a href="img/wedding/sa18.JPG">
            <img class="thumb" src="img/wedding/sa18.JPG" />
          </a>
          <a href="img/wedding/sa19.JPG">
            <img class="thumb-long" src="img/wedding/sa19.JPG" />
          </a>
          <a href="img/wedding/sa20.JPG">
            <img class="thumb" src="img/wedding/sa20.JPG" />
          </a>
          <a href="img/wedding/sa21.JPG">
            <img class="thumb" src="img/wedding/sa21.JPG" />
          </a>
          <a href="img/wedding/sa22.JPG">
            <img class="thumb" src="img/wedding/sa22.JPG" />
          </a>
          <a href="img/wedding/sa23.JPG">
            <img class="thumb" src="img/wedding/sa23.JPG" />
          </a>
          <a href="img/wedding/sa24.JPG">
            <img class="thumb" src="img/wedding/sa24.JPG" />
          </a>
          <a href="img/wedding/sa25.JPG">
            <img class="thumb" src="img/wedding/sa25.JPG" />
          </a>
          <a href="img/wedding/sa26.JPG">
            <img class="thumb" src="img/wedding/sa26.JPG" />
          </a>
          <a href="img/wedding/sa27.JPG">
            <img class="thumb" src="img/wedding/sa27.JPG" />
          </a>
          <a href="img/wedding/sa29.JPG">
            <img class="thumb" src="img/wedding/sa29.JPG" />
          </a>
          <a href="img/wedding/sa30.JPG">
            <img class="thumb" src="img/wedding/sa30.JPG" />
          </a>
          <a href="img/wedding/sa31.JPG">
            <img class="thumb" src="img/wedding/sa31.JPG" />
          </a>
          <a href="img/wedding/sa32.JPG">
            <img class="thumb-long" src="img/wedding/sa32.JPG" />
          </a>
          <a href="img/wedding/sa33.JPG">
            <img class="thumb" src="img/wedding/sa33.JPG" />
          </a>
          <a href="img/wedding/sa34.JPG">
            <img class="thumb-long" src="img/wedding/sa34.JPG" />
          </a>
          <a href="img/wedding/sa35.JPG">
            <img class="thumb" src="img/wedding/sa35.JPG" />
          </a>
          <a href="img/wedding/sa36.JPG">
            <img class="thumb" src="img/wedding/sa36.JPG" />
          </a>
          <a href="img/wedding/sa37.JPG">
            <img class="thumb-long" src="img/wedding/sa37.JPG" />
          </a>
          <a href="img/wedding/sa38.JPG">
            <img class="thumb" src="img/wedding/sa38.JPG" />
          </a>
          <a href="img/wedding/sa39.JPG">
            <img class="thumb-long" src="img/wedding/sa39.JPG" />
          </a>
        </div>
      </div>

      <div class="row spacer-above">
        <h3 class="text-center"> Baraat </h3>
        <p class="text-center"> On the Morning of 12th December, Shrey went to pick her bride Anya on a horse, while friends and family danced in the procession.</p>
        <div class="col-md-12" id="baraat">
          <a href="img/wedding/sa40.JPG">
            <img class="thumb-long" src="img/wedding/sa40.JPG" />
          </a>
          <a href="img/wedding/sa41.JPG">
            <img class="thumb" src="img/wedding/sa41.JPG" />
          </a>
          <a href="img/wedding/sa42.JPG">
            <img class="thumb-long" src="img/wedding/sa42.JPG" />
          </a>
          <a href="img/wedding/sa43.JPG">
            <img class="thumb" src="img/wedding/sa43.JPG" />
          </a>
          <a href="img/wedding/sa44.JPG">
            <img class="thumb" src="img/wedding/sa44.JPG" />
          </a>
        </div>
      </div>

      <div class="row spacer-above">
        <h3 class="text-center"> Phere </h3>
        <p class="text-center"> In the afternoon, We finally got married !! We circumbaluted the holy fire seven times and promised to be together for our next seven lives. </p>
        <div class="col-md-12" id="phere">
          <a href="img/wedding/sa45.JPG">
            <img class="thumb" src="img/wedding/sa45.JPG" />
          </a>
          <a href="img/wedding/sa46.JPG">
            <img class="thumb-long" src="img/wedding/sa46.JPG" />
          </a>
          <a href="img/wedding/sa47.JPG">
            <img class="thumb-long" src="img/wedding/sa47.JPG" />
          </a>
          <a href="img/wedding/sa48.JPG">
            <img class="thumb-long" src="img/wedding/sa48.JPG" />
          </a>
          <a href="img/wedding/sa49.JPG">
            <img class="thumb-long" src="img/wedding/sa49.JPG" />
          </a>
          <a href="img/wedding/sa50.JPG">
            <img class="thumb-long" src="img/wedding/sa50.JPG" />
          </a>
          <a href="img/wedding/sa51.JPG">
            <img class="thumb-long" src="img/wedding/sa51.JPG" />
          </a>
          <a href="img/wedding/sa52.JPG">
            <img class="thumb" src="img/wedding/sa52.JPG" />
          </a>
          <a href="img/wedding/sa53.JPG">
            <img class="thumb" src="img/wedding/sa53.JPG" />
          </a>
          <a href="img/wedding/sa54.JPG">
            <img class="thumb-long" src="img/wedding/sa54.JPG" />
          </a>
          <a href="img/wedding/sa55.JPG">
            <img class="thumb-long" src="img/wedding/sa55.JPG" />
          </a>
          <a href="img/wedding/sa56.JPG">
            <img class="thumb" src="img/wedding/sa56.JPG" />
          </a>
          <a href="img/wedding/sa57.JPG">
            <img class="thumb-long" src="img/wedding/sa57.JPG" />
          </a>
          <a href="img/wedding/sa58.JPG">
            <img class="thumb-long" src="img/wedding/sa58.JPG" />
          </a>
          <a href="img/wedding/sa59.JPG">
            <img class="thumb-long" src="img/wedding/sa59.JPG" />
          </a>
        </div>
      </div>

      <div class="row spacer-above">
        <h3 class="text-center"> Wedding Reception Dinner </h3>
        <p class="text-center"> We held a dinner reception for family and friends after the wedding on 12th December </p>
        <div class="col-md-12" id="reception">
          <a href="img/wedding/sa60.JPG">
            <img class="thumb" src="img/wedding/sa60.JPG" />
          </a>
          <a href="img/wedding/sa62.JPG">
            <img class="thumb" src="img/wedding/sa62.JPG" />
          </a>
          <a href="img/wedding/sa63.JPG">
            <img class="thumb" src="img/wedding/sa63.JPG" />
          </a>
          <a href="img/wedding/sa64.JPG">
            <img class="thumb" src="img/wedding/sa64.JPG" />
          </a>
          <a href="img/wedding/sa65.JPG">
            <img class="thumb" src="img/wedding/sa65.JPG" />
          </a>
          <a href="img/wedding/sa66.JPG">
            <img class="thumb-long" src="img/wedding/sa66.JPG" />
          </a>
          <a href="img/wedding/sa67.JPG">
            <img class="thumb-long" src="img/wedding/sa67.JPG" />
          </a>
          <a href="img/wedding/sa68.JPG">
            <img class="thumb-long" src="img/wedding/sa68.JPG" />
          </a>
          <a href="img/wedding/sa69.JPG">
            <img class="thumb-long" src="img/wedding/sa69.JPG" />
          </a>
          <a href="img/wedding/sa70.JPG">
            <img class="thumb" src="img/wedding/sa70.JPG" />
          </a>
          <a href="img/wedding/sa71.JPG">
            <img class="thumb" src="img/wedding/sa71.JPG" />
          </a>
          <a href="img/wedding/sa72.JPG">
            <img class="thumb" src="img/wedding/sa72.JPG" />
          </a>
          <a href="img/wedding/sa73.JPG">
            <img class="thumb" src="img/wedding/sa73.JPG" />
          </a>
          <a href="img/wedding/sa74.JPG">
            <img class="thumb-long" src="img/wedding/sa74.JPG" />
          </a>
          <a href="img/wedding/sa75.JPG">
            <img class="thumb" src="img/wedding/sa75.JPG" />
          </a>
          <a href="img/wedding/sa76.JPG">
            <img class="thumb-long" src="img/wedding/sa76.JPG" />
          </a>
          <a href="img/wedding/sa77.JPG">
            <img class="thumb-long" src="img/wedding/sa77.JPG" />
          </a>
          <a href="img/wedding/sa78.JPG">
            <img class="thumb" src="img/wedding/sa78.JPG" />
          </a>
          <a href="img/wedding/sa79.JPG">
            <img class="thumb" src="img/wedding/sa79.JPG" />
          </a>
          <a href="img/wedding/sa80.JPG">
            <img class="thumb" src="img/wedding/sa80.JPG" />
          </a>
          <a href="img/wedding/sa81.JPG">
            <img class="thumb" src="img/wedding/sa81.JPG" />
          </a>
          <a href="img/wedding/sa82.JPG">
            <img class="thumb-long" src="img/wedding/sa82.JPG" />
          </a>
          <a href="img/wedding/sa83.JPG">
            <img class="thumb" src="img/wedding/sa83.JPG" />
          </a>
          <a href="img/wedding/sa84.JPG">
            <img class="thumb-long" src="img/wedding/sa84.JPG" />
          </a>
          <a href="img/wedding/sa85.JPG">
            <img class="thumb" src="img/wedding/sa85.JPG" />
          </a>
        </div>
      </div>

      <div class="row spacer-above">
        <h3 class="text-center"> Bahu Bhaat </h3>
        <p class="text-center"> On the next morning (13th December), Anya was welcomed to her new home</p>
        <div class="col-md-12" id="bhaat">
          <a href="img/wedding-personal/sa86.JPG">
            <img class="thumb-long" src="img/wedding-personal/sa86.JPG" />
          </a>
          <a href="img/wedding-personal/sa88.JPG">
            <img class="thumb" src="img/wedding-personal/sa88.JPG" />
          </a>
          <a href="img/wedding-personal/sa92.JPG">
            <img class="thumb" src="img/wedding-personal/sa92.JPG" />
          </a>
        </div>
      </div>

      <div class="row spacer-above">
        <h3 class="text-center"> Kerela Trip </h3>
        <p class="text-center"> After the wedding we made a trip to the southern Indian state of Kerela. We had a great time amoung the mountains, backwaters, and beaches of kerela. We also spent a day in a houseboat.</p>
        <div class="col-md-12" id="kerela">
          <a href="img/wedding-personal/sa96.JPG">
            <img class="thumb" src="img/wedding-personal/sa96.JPG" />
          </a>
          <a href="img/wedding-personal/sa99.JPG">
            <img class="thumb" src="img/wedding-personal/sa99.JPG" />
          </a>
          <a href="img/wedding-personal/sa101.JPG">
            <img class="thumb" src="img/wedding-personal/sa101.JPG" />
          </a>
          <a href="img/wedding-personal/sa103.JPG">
            <img class="thumb" src="img/wedding-personal/sa103.JPG" />
          </a>
          <a href="img/wedding-personal/sa104.JPG">
            <img class="thumb" src="img/wedding-personal/sa104.JPG" />
          </a>
        </div>
      </div>

      <div class="row spacer-above">
        <h3 class="text-center"> Wedding Recpetion in Germany </h3>
        <p class="text-center"> After getting married in India, we flew to Germany where we had another wedding reception at <a href="http://www.villa-sophienhoehe.de/" target="_blank">Villa Sophienhöhe</a>, Kerpen on 29th December.
           It was a great evening filled with many games, music, and dancing.</p>
        <div class="col-md-12" id="reception-germany">
          <a href="img/wedding-personal/sa89.JPG">
            <img class="thumb" src="img/wedding-personal/sa89.JPG" />
          </a>
          <a href="img/wedding-personal/sa90.JPG">
            <img class="thumb" src="img/wedding-personal/sa90.JPG" />
          </a>
          <a href="img/wedding-personal/sa91.JPG">
            <img class="thumb" src="img/wedding-personal/sa91.JPG" />
          </a>
          <a href="img/wedding-personal/sa93.JPG">
            <img class="thumb" src="img/wedding-personal/sa93.JPG" />
          </a>
          <a href="img/wedding-personal/sa94.JPG">
            <img class="thumb" src="img/wedding-personal/sa94.JPG" />
          </a>
          <a href="img/wedding-personal/sa95.JPG">
            <img class="thumb" src="img/wedding-personal/sa95.JPG" />
          </a>
          <a href="img/wedding-personal/sa97.JPG">
            <img class="thumb" src="img/wedding-personal/sa97.JPG" />
          </a>
          <a href="img/wedding-personal/sa98.JPG">
            <img class="thumb" src="img/wedding-personal/sa98.JPG" />
          </a>
          <a href="img/wedding-personal/sa102.JPG">
            <img class="thumb" src="img/wedding-personal/sa102.JPG" />
          </a>
          <a href="img/wedding-personal/sa100.JPG">
            <img class="thumb" src="img/wedding-personal/sa100.JPG" />
          </a>
        </div>
      </div>

      <div class="photos-section text-center">
        <a href="#contact" class="page-scroll btn btn-xl">Send Message to the couple</a>
      </div>
    </div>
  </div>
</section>
