<!-- Team Section -->
<section id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Meet The couple</h2>
        <h3 class="section-subheading text-muted">Know more about the bride and the groom</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="team-member little-anya">
          <img src="/img/anya_child.jpg" class="img-responsive img-circle" alt="">
          <h4>Anya</h4>
          <p class="text-muted">Anya was born in Moscow, Russia. She grew up in Cologne, Germany. She likes horse riding, painting, and music</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="team-member shrey">
          <img src="/img/shrey_child.jpg" class="img-responsive img-circle" alt="">
          <h4>Shrey</h4>
          <p class="text-muted">Shrey was born and raised in Ujjain, India. He likes to fly kites and play cricket.</p>
        </div>
      </div>
    </div>
  </div>
</section>
